<html lang='en'>

<head>
	<meta charset='UTF-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<title>Register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel='stylesheet' href='../../css/login.css' />
	
</head>

<body>
	<div id='main-holder'>
		<h1 id='register-header'>Register</h1>

		<div id='error-msg-holder'>
			<p id='error-msg'>
				Invalid username
				<span id='error-msg-second-line'>Username already taken</span>
			</p>
		</div>

		<form id='form' action='/register' method='POST'>
			<input
					type='text'
					name='username'
					id='username-field'
					class='form-field'
					placeholder='Username'
				/>
				<input
					type='password'
					name='password'
					id='password-field'
					class='form-field'
					placeholder='Password'
				/>
				<input
					type='password'
					name='confirmPassword'
					id='confirmPassword-field'
					class='form-field'
					placeholder='Confirm Password?'
				/>

			<input type='submit' value='Create Account' id='create-form-submit' />
			<a href='/login'>Login</a>
		</form>
	</div>

	<div id="background">
		<div id="homePagecarosel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://wallpapercave.com/wp/wp2288284.jpg"
						class="d-block w-100" alt="waterfall">
				</div>
				<div class="carousel-item">
					<img src="https://pixelz.cc/wp-content/uploads/2016/11/sunset-in-the-cascades-vesper-peak-washington-united-states-4k-wallpaper.jpg"
						class="d-block w-100" alt="Vesper Peak">
				</div>				
				<div class="carousel-item">
					<img src="https://pixelz.cc/wp-content/uploads/2016/11/mount-shuksan-glaciated-massif-north-cascades-national-park.-washington-united-states-4k-wallpaper.jpg"
						class="d-block w-100" alt="Mt Shucksan">
				</div>

			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
	</script>
</body>

</html>
